<h1>Here are the list of users</h1>

<% if @users.empty? %>
<h1> Please add user at first</h1>
<%end%>
<div class = "container">
<% @users.each do |user|%>
  <a href="/users/<%= user.id %>" class="text-decoration-none">
        <%= render 'partials/user', user: user %>
  </a>
<%end%>
</div>
