
<%= puts "Rendering partial for posts" %>
<%= render partial: 'partials/post', locals: { post: @post } %>
<%= "no comments for this post" if @post.comments.empty?%>
<div class="comments">
<% @post.comments.each do |comment|%>
        <%=render "partials/comments" %>
<% end %>
</div>